body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, sans-serif;
    background: linear-gradient(180deg, #6d63ff,#03002d);
}

h1 {
    color: #fff;
}

th {
    color: #fff;
}

td {
    color: #fff;
    word-break: break-word; /* Quebra palavras longas */
    white-space: normal;    /* Permite que o texto quebre automaticamente */
    word-wrap: break-word;  /* Garante a quebra de linha nas palavras */

}

label {
    color: #fff;
}

button {
    background-color: #616965;
    color: #fff;
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 99px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #4a4a4a;
    transition: 0.5s;
}

table {
    width: 100%;
    table-layout: fixed;  /* Fixe a largura das colunas */
    border-collapse: collapse;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para a tabela */
    border-radius: 8px; /* Bordas arredondadas */
    overflow: hidden; /* Garante que o conteúdo não ultrapasse os cantos arredondados */
    margin-bottom: 20px; /* Espaçamento abaixo da tabela */
    background-color: #2c2f33; /* Cor de fundo para contraste */
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

table, th, td {
    border: 2px solid white;
}

th, td {
    padding: 10px;
    text-align: left;
    word-break: break-word; /* Quebra palavras longas */
    white-space: normal;    /* Permite que o texto quebre automaticamente */
    overflow-wrap: break-word; /* Garante a quebra quando não houver mais espaço */

}

tr:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra ao passar o mouse */
    background-color: #343a40; /* Destaque ao passar o mouse */
}

.coluna-id{
    width: 40px;
}

.coluna-status{
    width: 115px;
}

.coluna-usuario{
    width: 160px;
}
.coluna-datahora{
    width: 155px;
}
.coluna-setor{
    width: 145px;
}
.form-filtro {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    margin-bottom: 20px;
}

.form-filtro input {
    background-color: #616965;
    border-radius: 20px;
    color: #fff;
}

.status select{
    border-radius: 20px;
}

.filtromotivo {
    border-radius: 20px;
    background-color: #616965;
    color: #fff;
}
.filtrosetor {
    border-radius: 20px;
    background-color: #616965;
    color: #fff;
}