body {
    background-image: url(https://lh3.googleusercontent.com/pw/AP1GczOggO0d6E8GvCFv-CejVmOBYVf8op8qkkkqhDZxo6zRQMAM-MLNDRf8er7GSkvvrzZDjzF-aKHtaIy4Pdlud3mOv0ci62_n_j13vDYenZXSNPY1vwwELydQa5zFyMxPAK8wjPI1ifTraS-zqWuz9XZk=w1031-h773-s-no-gm?authuser=0);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: Arial, sans-serif;
}

h1 {
    color: #AAF23D;
}

th {
    color: #AAF23D;
}

td {
    color: #AAF23D;
    word-break: break-word; /* Quebra palavras longas */
    white-space: normal;    /* Permite que o texto quebre automaticamente */
    word-wrap: break-word;  /* Garante a quebra de linha nas palavras */

}

label {
    color: #AAF23D;
}

button {
    background-color: #87BF34;
    color: #fff;
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 99px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #37793d;
    transition: 0.5s;
}

table {
    width: 100%;
    table-layout: fixed;  /* Fixe a largura das colunas */
    border-collapse: collapse;
    border-radius: 8px; /* Bordas arredondadas */
    overflow: hidden; /* Garante que o conteúdo não ultrapasse os cantos arredondados */
    margin-bottom: 20px; /* Espaçamento abaixo da tabela */
    background-color: #000000; /* Cor de fundo para contraste */
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

table, th, td {
    border: 2px solid white;
}

th, td {
    padding: 10px;
    text-align: left;
    word-break: break-word; /* Quebra palavras longas */
    white-space: normal;    /* Permite que o texto quebre automaticamente */
    overflow-wrap: break-word; /* Garante a quebra quando não houver mais espaço */

}

tr:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra ao passar o mouse */
    background-color: #343a40; /* Destaque ao passar o mouse */
}

.coluna-id{
    width: 40px;
}

.coluna-status{
    width: 115px;
}

.coluna-usuario{
    width: 160px;
}
.coluna-datahora{
    width: 155px;
}
.coluna-setor{
    width: 145px;
}
.form-filtro {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    margin-bottom: 20px;
}

.form-filtro input {
    background-color: #87BF34;
    border-radius: 20px;
    color: #fff;
}

.status select{
    border-radius: 20px;
}

.filtromotivo {
    border-radius: 20px;
    background-color: #87BF34;
    color: #fff;
}
.filtrosetor {
    border-radius: 20px;
    background-color: #87BF34;
    color: #fff;
}