* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(https://lh3.googleusercontent.com/pw/AP1GczOggO0d6E8GvCFv-CejVmOBYVf8op8qkkkqhDZxo6zRQMAM-MLNDRf8er7GSkvvrzZDjzF-aKHtaIy4Pdlud3mOv0ci62_n_j13vDYenZXSNPY1vwwELydQa5zFyMxPAK8wjPI1ifTraS-zqWuz9XZk=w1031-h773-s-no-gm?authuser=0);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: Arial, sans-serif;
}


nav {
    position: center;
    top: 10px;
    left: 15px;
}


.imagem{
 padding-bottom: 10px;

}

.login-quadro {
    background-color: #000000;
    border-color: #AAF23D;
    border-width: 1px; /* Borda fina */
    border-style: solid; /* Estilo da borda */
    width: 500px;
    height: 360px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    opacity: 0.9;
    margin-top: 25px;
    margin-bottom: 280px;
}

.login-quadro h1 {

  color: #AAF23D;
  padding: 15px;
  font-family: "Inter", sans-serif;

}

.login-quadro form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}



.login-quadro input[type="text"],
.login-quadro input[type="password"] {
    background-color: #000000;
    border: none; /* Remove todas as bordas */
    border-bottom: 1px solid #fff; /* Adiciona a linha branca apenas na parte de baixo */
    width: 300px;
    height: 25px;
    margin-bottom: 15px;
    border-radius: 0; /* Remove o border-radius */
    color: #fff;
    padding-bottom: 8px;
    font-family: "Inter", sans-serif;
    
}

::-webkit-input-placeholder {
    color: #fff;
 }

.login-quadro button {
    background-color: #87BF34;
    color: #fff;
    width: 100px ;
    height: 35px ;
    border: none;
    border-radius: 99px;
    cursor: pointer;
    margin: 5px;
}

.login-quadro button:hover {
    background-color: #4dc22a;
    transition: 0.5s;
}

.inter-fonte {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }


.rodape{

margin-top: -50px;

}

.rodape img {
    width: 210px;
    height: 60px;
}

.mensagem-erro {
    color: red;
    text-align: center;
    margin-top: 10px;
}


.quadro-admin {

    background-color: #000000;
    border-color: #AAF23D;
    border-width: 1px; /* Borda fina */
    border-style: solid; /* Estilo da borda */
    width: 500px;
    height: 360px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 240px;
    
    
}

.quadro-admin h1 {

    color: #AAF23D;
    padding: 15px;
    font-family: "Inter", sans-serif;
  

}

.quadro-admin form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.quadro-admin button {
    background-color: #87BF34;
    color: #fff;
    width: 110px ;
    height: 35px ;
    border: none;
    border-radius: 99px;
    cursor: pointer;
    margin: 5px;
}
.quadro-admin button:hover {
    background-color: #37793d;
    transition: 0.5s;
}
.chamados {

    background-color: #000000;
    border-color: #AAF23D;
    border-width: 1px; /* Borda fina */
    border-style: solid; /* Estilo da borda */
    width: 500px;
    height: 425px;
    border-radius: 16px;
    /* box-shadow: 15px 4px 8px rgba(0, 0, 0, 0.5); */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 220px;
}

.chamados h2 {

    color: #fff;
    padding: 15px;
    font-family: "Inter", sans-serif;
  
  }

  .chamados form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.chamados ::-webkit-input-placeholder {
    color: #000000;
 }

.botoes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

}
.sair-button {
    background: linear-gradient(to right, #4E4D4D, #BFBFBF);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}
 .chamados button {
    background-color: #AAF23D;
    color: #fff;
    width: 100px ;
    height: 35px ;
    border: none;
    border-radius: 99px;
    cursor: pointer;
    margin: 5px;
}

.chamados button:hover{
    background-color: #4dc22a;
    transition: 0.5s;
}

.chamados select{
    background-color: #000000;
    border: none;
    border-bottom: 1px solid #fff; /* Adiciona a linha branca apenas na parte de baixo */
    width: 300px ;
    height: 25px;
    margin-bottom: 15px;
    border-radius: 0px; 
    color: #fff;
    padding: 4px;
    font-family: "Inter", sans-serif;

    
}
.chamados label {

    color: #fff;
}

.mensagem {
    color: green;
    margin-top: 10px;
}

.popup {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    font-size: 16px;
    z-index: 1000;
    display: none;
}

.popup.sucess {
    background-color: #f44336;
}

.popup.error {
    background-color: #f44336;
}


.erro-popup{
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #ff0000;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    font-size: 16px;
    z-index: 1000;
    display: none;

}

.chamados label{
    padding-bottom: 10px;
}

.chamados textarea{
    border-radius: 8px;
    font-family: "Inter", sans-serif;
    padding: 7px;
}

.chamados select{
    border-radius: 8px;
}